---
export type Props = {
  class?: string[];
};
const { class: className } = Astro.props;
---

<footer class:list={["ui-footer", "text-center space-y-4", className]}>
  <p
    class:list={[
      "[&_.heart]:text-red-500 [&_.heart]:text-2xl [&_.heart]:inline-block [&_.heart]:align-middle",
      "[&_a]:underline [&_a]:decoration-2 [&_a]:decoration-red-500 [&_a]:hover:text-red-600",
    ]}
  >
    made with <span class:list={["heart"]}>&#9829;</span> by <a
      href="https://myles.garden"
      target="_blank"
      rel="noopener noreferrer">myles</a
    >. built on{" "}
    <a href="https://astro.build" target="_blank" rel="noopener noreferrer"
      >astro</a
    >, fed by <a
      href="https://www.are.na"
      target="_blank"
      rel="noopener noreferrer">are.na</a
    >.
  </p>
  <a
    href="https://registry.myles.garden/MB-61"
    class:list={[
      "inline-block border-4 px-2 py-1 font-mono text-sm font-bold decoration-0 transition-colorsborder-black text-black",
      "hover:bg-black hover:text-white hover:border-black",
    ]}
    target="_blank"
    rel="noopener noreferrer">MB 61</a
  >
</footer>
