---
import type { BlockBase } from "../../../lib/schemas/block-schema.types";

type Props = {
  block: BlockBase<"Attachment">;
  class?: string[];
};
const { block, class: className } = Astro.props;
---

<object
  data={block.data.attachment.url}
  type={block.data.attachment.content_type}
  class:list={["block-detail-attachment", "size-full", className]}
>
  <p>
    Click here to view the attachment: <a href={block.data.attachment.url}
      >{block.data.attachment.filename}</a
    >
  </p>
</object>
