---
import type { BlockBase } from "../../../lib/schemas/block-schema.types";

type Props = {
  block: BlockBase<"Image">;
};
const { block } = Astro.props;
---

<Fragment>
  {
    block.data.image.width && block.data.image.height && (
      <div>
        <dt>Dimensions</dt>
        <dd>
          <span class:list={["tabular-nums"]}>{block.data.image.width}</span>{" "}
          &times;
          <span class:list={["tabular-nums"]}>{block.data.image.height}</span>
        </dd>
      </div>
    )
  }
</Fragment>
