---
import type { BlockBase } from "@/lib/schemas/block-schema.types";
import BlockDetailMetaDataListItem from "./BlockDetailMetaDataListItem.astro";

type Props = {
  block: BlockBase<"Image">;
};
const { block } = Astro.props;
---

<Fragment>
  {
    block.data.image.width && block.data.image.height && (
      <BlockDetailMetaDataListItem name="Dimensions">
        <span class:list={["tabular-nums"]}>{block.data.image.width}</span>
        &times;
        <span class:list={["tabular-nums"]}>{block.data.image.height}</span>
      </BlockDetailMetaDataListItem>
    )
  }
</Fragment>
